*{
    box-sizing: border-box;
    font-family: 'Khand', sans-serif !important;
}

.container{
    width: 1200px !important;
    min-height: 400px;
    margin: 0 auto;
    background-color: #eee;
}

.header{
    width: 100%;
    background-color: darkslategrey;
    padding: 20px;
    height:100px;

}

.header .logo{
    width: 30%;
    margin:0;
    padding: 4px;
    float: left;
}
.logo h2{
    font-size:30px;
    margin:7px 20px 5px 20px;
    color:white;
}
.header .nav{
    width: 65%;
    padding: 4px;
    float:right;
}

.nav ul li{
    list-style-type: none;
}

.nav ul li{
    float: left;
}

.nav ul li a{
    text-decoration:none;
    color:white;
    margin:0px 20px 5px 20px;
    font-size:20px;
    color:white !important;
}

.container ul li a{
    color:white !important;
}

.container a{
    color:white !important;
}


.logo h2 a{
    text-decoration: none !important;
    color:white;
}
.form-elements{
    width: 400px !important;
    margin: 0 auto;
    padding: 10px !important;
}
.form-elements h1{
    text-align: center;
    font-family: Khand;
    width: 100%;
    margin-bottom: 20px !important;
}

.content{
    width:800px !important;
    margin:auto;
    min-height:200px !important;
}

.form-element{
    width: 300px !important;
    margin: 0 auto;
}

.footer{
    width:100%;
    height:70px;
    background-color:darkslategrey;
    color:white;
}

.footer .footer-text{
    text-align:center;
    padding:20px;
    font-size:25px;
    margin-top:90px !important;
}

.room-list{
    font-size:30px;
    margin:40px !important;
}
.meeting-table-text{
    font-size: 20px !important;
}
.meeting-title{
    width: 100% !important;
    height: 80px;
}
.meeting-title h1{
    display: inline-block !important;
}

.meeting-text{
    width:400px;
    margin:0 auto;
}


@media only screen and (min-width:370px) and (max-width:602px){
    .container{
        width: 100% !important;
        background-color: #eee !important;
    }


    .logo h2{
    font-size:15px !important;
    margin:7px 0px 5px 0px !important;
    color:white;
    }

    .header .nav{
        width: 70% !important;
        padding: 0px !important;
    }

    .nav ul li a{
        text-decoration:none;
        color:white;
        font-size:14px; 
        margin: 5px !important;
        display: flex !important;
    }

    .content{
        width:100% !important;
    }

    .header{
        margin-bottom: -40px !important;
    }


    .footer{
        height:100px !important;
    }


}

@media only screen and (min-width:350px) and (max-width:800px){

    .container{
        width: 100% !important;
        background-color: #eee !important;
    }


    .logo h2{
    font-size:15px !important;
    margin:7px 0px 5px 0px !important;
    color:white;
    }

    .header .nav{
        width: 70% !important;
        padding: 0px !important;
    }

    .header{
        margin-bottom: -40px !important;
    }

    .nav ul li a{
        text-decoration:none;
        color:white;
        font-size:14px; 
        margin: 5px !important;
        display: flex !important;
    }

    .content{
        width:100% !important;
    }

    .footer{
        height:100px !important;
    }

}

@media only screen and (min-width:800px) and (max-width:900px){

    .header{
        margin-bottom: -40px !important;
    }

}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
.container nav ul li a:hover{
    background-color:darkcyan;
    border-radius:20px;
    padding:15px !important;
}
}